/*.header { border-bottom: 5px solid #404040 ; background-color: transparent; background-image: url("../img/index/background.png")}*/
.header { border-bottom: 5px solid rgb(244,249,252) ; background-color: rgb(244,249,252) !important; }
.header>.title { font-size: 30px; padding-left: 30px; line-height: 65px; color: #008cee; }
.header>.time {  color: #008cee; position: absolute; right: 200px; line-height: 60px}
.header>.layui-nav { right: 0px; position: absolute; background-color: transparent ;}

.logo { width: 200px; height: 65px;  background: url("../img/切图/logo.png") center no-repeat; cursor: pointer; border-bottom: 1px white solid; background-color: rgb(104,159,242) !important; }
/*颜色*/
/*.layui-bg-black, .layui-nav{ background-color: #544d4e}*/
/*.layui-bg-black, .layui-nav{ background-image: url("../img/index/left.png")}*/
.layui-nav-bar { background-color: #008cee !important}
/*.layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-this, .layui-nav-tree .layui-this>a, .layui-nav-tree .layui-this>a:hover{  background-color: #1AA094}*/
/*.side .layui-nav .layui-nav-item{background-image: url("../img/index/caidan-.png")}*/
.header .layui-nav .layui-nav-item a { color: #008cee }
.header .layui-nav .layui-nav-item .layui-nav-more { border-color: #008cee transparent transparent }
.header .layui-nav .layui-nav-item .layui-nav-mored { transform: scale(1,-1); }
.header .layui-nav .layui-nav-item dd a{ color: black }

.layui-tab-brief>.layui-tab-title .layui-this{ color: #00a5dd  }
.layui-tab-brief>.layui-tab-title .layui-this:after{ border-bottom: 3px solid #00a5dd  }

.side{background-color: rgb(104,159,242) !important; }
.side .layui-nav{ background-color: rgb(104,159,242) !important}
/*.side .layui-nav-tree{ background-color: rgb(104,159,242) !important}*/
/*.layui-tab .layui-tab-title .layui-this { color: #333333 }*/
.side .layui-nav li { border-bottom: 1px solid rgb(164, 197, 255) !important; overflow: hidden }
.side .layui-nav .layui-nav-item a{ color: white }
.side .layui-nav .layui-nav-item.layui-this a{ /*background-image: url("../img/index/choose.png");*/ background-color: rgba(244,249,252, 1); color: #999}
.side .layui-nav .layui-nav-item.layui-this{ background-color: rgba(244,249,252, 1);}
.side .layui-nav .layui-nav-item.layui-this a span{ color: white}
.side .layui-nav .layui-nav-item a:hover{ background-color: rgba(255,255,255, 0.2); }
.side .layui-nav .layui-nav-item.layui-this a:hover span{ color: white }
.side .layui-nav  { background-color: transparent }
.side .layui-nav .layui-nav-item a i{ display: inline-block;  width: 20px;  height: 24px;  margin-bottom: -6px!important;  margin:0 6px;
    background-size: contain;  background-repeat: no-repeat;  background-position: center;  }
.side .layui-nav .layui-nav-item:nth-child(2) a i{  background-image: url(../img/切图/首页1.png);  }
.side .layui-nav .layui-nav-item:nth-child(2).layui-this a i{  background-image: url(../img/切图/首页.png);  }
.side .layui-nav .layui-nav-item:nth-child(3) a i{  background-image: url(../img/切图/污染，核能1.png);  }
.side .layui-nav .layui-nav-item:nth-child(3).layui-this a i{  background-image: url(../img/切图/污染，核能.png);  }
.side .layui-nav .layui-nav-item:nth-child(4) a i{  background-image: url(../img/切图/报警1.png);  }
.side .layui-nav .layui-nav-item:nth-child(4).layui-this a i{  background-image: url(../img/切图/报警.png);  }
.side .layui-nav .layui-nav-item:nth-child(5) a i{  background-image: url(../img/切图/设备监测1.png);  }
.side .layui-nav .layui-nav-item:nth-child(5).layui-this a i{  background-image: url(../img/切图/设备监测.png);  }
.side .layui-nav .layui-nav-item:nth-child(6)>a i{  background-image: url(../img/切图/系统管理1.png);  }
.side .layui-nav .layui-nav-item:nth-child(6).layui-this>a i{  background-image: url(../img/切图/系统管理.png);  }
/*.side .layui-nav .layui-nav-item:nth-child(6) a i{  background-image: url(../img/切图/tongji.png);  }*/
/*.side .layui-nav .layui-nav-item:nth-child(6).layui-this a i{  background-image: url(../img/切图/tongji_1.png);  }*/
/*.side .layui-nav .layui-nav-item:nth-child(7) a i{  background-image: url(../img/切图/guanli-.png);  }*/
/*.side .layui-nav .layui-nav-item:nth-child(7).layui-this a i{  background-image: url(../img/切图/guanli_1.png);  }*/

.side-hider { height: 45px; text-align: center; background-color:  rgb(104,159,242) !important}
.side-hider i{ line-height: 45px; font-size: 30px; color: white}

.side .layui-nav .layui-nav-itemed>a{ background-color: rgb(104,159,242) !important;}
.side .layui-nav .layui-nav-itemed>a .layui-nav-more{  transform: scale(1,-1); border-color: #fff transparent transparent}
.side .layui-nav .layui-nav-item>a .layui-nav-more{ border-color: #fff transparent transparent; right: 4px;}
.side .layui-nav .layui-nav-item .layui-nav-child dd { background-color: rgb(104,159,242);  }
.side .layui-nav .layui-nav-item .layui-nav-child dd a:hover{ color:white; background-color: rgba(244,249,252, 0.2) }
.side .layui-nav .layui-nav-item .layui-nav-child .layui-this a{ background-color:rgba(244,249,252, 1); color: #999999; /*background-image: url("../img/index/choose.png"); */  }

/*.side>.layui-nav-item{background-image: url("../img/index/caidan-.png");height: 72px;}*/
.fieldname{font: 12px simsun; text-align: left; background: #D7E4F4; }
.layui-nav-bar{ background-color: #1AA094 }
.layui-layout-admin .layui-side{ margin-top: 5px}
.layui-body{ top: 65px !important;   bottom: 0 !important;
    margin: 0px;  overflow-x: hidden;  overflow-y: auto;  z-index: 150;  border: none !important;   padding-bottom: 0px;}

#index_frame{  width: calc(100% ); height: calc(100% - 5px); border: none;}

.required{ color: red;  font-size: 300%;}

.mng-frame{ width: 100%; height: 100%; border:none; }

#mapDiv { width: 100%; border:none; position: fixed;  top:0; bottom: 0; }
.layui-btn-danger{ padding: 10px;}
/*覆盖arcgis窗口CSS*/
.esriPopup .titleButton.maximize{ display: none}
.esriPopup .titlePane {line-height: 30px!important; background-color: #23262E!important; font-size: 14px!important;}
.esriPopup .contentPane{ font-size: 14px!important; }
.esriPopup .contentPane p{ font-weight: bold; line-height: 25px; }
.esriPopup .contentPane p span{ font-weight: normal; }
.esriPopup .contentPane p a{ color: red ; cursor: pointer }
/*数据窗口*/
.mapStats{ top: 0; max-height: calc(100%); width: 750px; position: absolute; background-color: rgba(0,0,0,0); border: 1px solid #8baac2; box-shadow: #0E3043 0px 0 2px 0px}
.mapStats_close{ position: absolute; right: 10px; top: 10px; z-index: 200;}
.mapStats_close i{ font-size: 20px;  cursor: pointer;}
.mapStats_close.rotate{
    -webkit-transform:rotate(180deg) translateZ(0);
    -moz-transform: rotate(180deg) translateZ(0); }

.mapStats .layui-tab-card{ margin: 0; width: 100%; }
.mapStats input,select { width: 130px; }
.mapStats .layui-form-item { margin-bottom: 7px; }
.mapStats .layui-form-item .layui-input-inline{ width: 130px; }
.mapStats label { width: 60px; padding-left: 0; }
/*.mapStats .layui-btn { margin-top: -4px; }*/
.mapStats_statsTitle{ font-size: 20px; font-weight: bold; text-align: center}
.mapStats_statsStatus{ text-align: center}
.mapStats_statsStatus span{ display: inline-block; margin: 10px;}
.mapStats_statsCharts{ width: 100%; height: 280px; }
.mapStats_divider{ background-color: #00a5dd; padding: 7px; margin: 7px 0; color: #eeeeee;font-size: 20px}
.mapStats_divider:nth-child(1){ margin-top: 0;}
.mapStats_alarmGeneral i{ display: inline-block; height: 36px; width: 36px; font-size: 30px; text-align: center}
.mapStats_alarmGeneral span{ display: inline-block; white-space: normal; width: calc(100% - 40px) }
.mapStats_alarmGeneral span a{ color: red; text-decoration: underline; cursor: pointer; margin: 0 5px;}
.mapStats input{ background-color: transparent; }
.mapStats input::-webkit-input-placeholder{ color: white}
.mapStats input:-moz-placeholder{ color: white}
.mapStats input::-moz-placeholder{color: white}
.mapStats input:-ms-input-placeholder{color: white}

.mapStats_alarmNews{ height: 75px; overflow: hidden; border: 1px solid #e2e2e2; box-sizing: border-box; padding: 0 7px; }
.mapStats_alarmNews li{ line-height: 20px; text-align: left; cursor: pointer;}
.mapStats_alarmNews li span{ display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.mapStats_alarmNews li span:nth-child(1){ width: 150px;}
.mapStats_alarmNews li span:nth-child(2){ width: calc( (100% - 170PX ) / 5 * 2 ) }
.mapStats_alarmNews li span:nth-child(3){ width: calc( (100% - 170PX ) / 5 * 3) }

.mapStats_table td{ padding: 4px 15px;}

.black_placeholder input:-ms-input-placeholder{color:black}
.black_placeholder :-moz-placeholder{color:black}
.black_placeholder ::-moz-placeholder{color:black}
.black_placeholder input::-webkit-input-placeholder{color:black}

.notification{ position: fixed; top:10px; right:20px; background-color: rgba(0,0,0,0.7); color: white; padding: 10px; border-radius: 5px; min-width: 200px }
.notification{ display: none }
.notification i{ float: right; cursor: pointer }
.notification .content{ cursor: pointer }

/*新增企业*/
/*#addCompany .layui-layout-admin{ margin-top: -4px; margin-bottom: 40px;}*/
/*#addCompany .layui-form .layui-form-item .layui-inline { width: 45%; min-width: 420px;}*/
/*#addCompany .layui-form .layui-form-item .layui-form-label { width: 130px; }*/
/*#addCompany .layui-form .layui-form-item .layui-input-inline { width: calc(100% - 170px); }*/
/*新增监测站*/
/*#addMS .layui-layout-admin{ margin-top: 10px;    margin-bottom: 40px; }*/
/*#addMS .layui-form .layui-form-item .layui-inline { width: 45%; min-width: 420px;}*/
/*#addMS .layui-form .layui-form-item .layui-form-label { width: 100px; }*/
/*#addMS .layui-form .layui-form-item .layui-input-inline { width: calc(100% - 170px); }*/
/*新增*/
.add-form .layui-layout-admin{ margin-top: 10px;    margin-bottom: 40px; }
.add-form .layui-form .layui-form-item .layui-inline { width: 45%; min-width: 420px;}
.add-form .layui-form .layui-form-item .layui-form-label { width: 100px; }
.add-form .layui-form .layui-form-item .layui-input-inline { width: calc(100% - 170px); }
/*详情*/
.detail-form .layui-layout-admin{ margin-top: 10px;    margin-bottom: 40px; }
.detail-form .layui-form .layui-form-item .layui-inline { width: 45%; min-width: 300px;}
.detail-form .layui-form .layui-form-item .layui-form-label { width: 100px; }
.detail-form .layui-form .layui-form-item .layui-input-inline { width: calc(100% - 140px); }
.detail-form .detail-form-left { width: 60%; float: left }
.detail-form .detail-form-right { width: 40%; float: right; background-color: #7FBBDF}
.detail-form .detail-form-right img{ width: 100%; }

/*照片部分*/
.photo-area { width: 90%;margin: auto;border: 1px }
.photo-area .thumb{ width: 100px; height: 100px; display: inline-block; margin-right: 8px; border: 1px solid #aaa; position: relative }
.photo-area .thumb img{ width: 100px; height: 100px; }
.photo-area .thumb i{  position: absolute; right: 0px; top: 0px; color: red; font-size: 20px; cursor: pointer; }
.photo-area .thumbs{  margin-bottom: 16px; }
.photo-area .thumb-input { border: dashed 1px #bbbbbb; display: inline-block }
.photo-area .thumb-input .layui-upload-file { position: absolute; width: 100px; height: 100px; opacity: 0; top: 0; }
.photo-area .thumb-input img { height: 60px;  width:60px; margin: 20px;}
.photo-area .thumb div {text-align: center}
/*详情*/
tr .align-right{width:120px;text-align: right}

.waterBorder{height:100%;border-color:#e2e2e2;border-style:solid; border-width:1px;margin: 0}
.water_divider{ background-color: #f2f2f2; padding: 7px; margin: 1px 0; color: #666666}
.waterBorder input,.waterBorder select,.waterBorder button,.waterBorder label {margin-top:5px}
.waterBorder label{padding: 10px 5px;}
.waterBorder input,.waterBorder select{width: 150px}

#pk_window{ display: none; padding: 8px 24px;}
#pk_window .layui-form-label{ width: 100px; }
#pk_window .layui-input-block{ margin-left: 140px; }
#pk_window .photo-area {width: auto; margin-left: 140px;}

/*新增设备*/
#addEquipment .layui-form-label{ width: 170px; text-align: right}
#addEquipment .layui-inline input{ width: 230px;}
#addEquipment .photo-area .thumbs{ padding-left: 100px; text-align: left}
#addEquipment .photo-area .thumbs input{ left:0;}

/*新增规则*/
/*#rule_form .layui-form-label{ width: 100px; text-align: right}*/
/*#rule_form .layui-inline input,#rule_form .layui-inline select{ width: 400px;}{ width: 400px;}*/
/*#rule_form .photo-area .thumbs{ padding-left: 100px; text-align: left}*/
/*#rule_form .photo-area .thumbs input{ left:0;}*/
/*登陆页面*/
#login_bg{ position: fixed; top: 0; bottom: 0; right: 0; left: 0;
    /*background-color: #61baf3*/
    background-image: url('../img/login-bg.jpg'); background-repeat: no-repeat; background-size: cover;
}
#login_container{ background-color: rgba(0,0,0,0.3); text-align: center; display: none; padding: 16px;}
#login_container h1{ line-height: 2em; font-size: 24px; padding: 0 20px; font-weight: bold; color: white; text-shadow: #5d5f62 0px 0px 2px; letter-spacing: 3px; }
#login_container h1:nth-child(2){ letter-spacing: 16px; }
#login_container .layui-form{ padding: 16px; }
#login_container .layui-form .layui-input{ background-color: rgba(0,0,0,0.3); border-radius: 5px; border-color: rgba(255,255,255,0.2); color: white; }
#login_container .layui-form .layui-footer{ bottom: 0;width: 100%;height:39px;left: 0;text-align: center }
#login_container .layui-form .layui-footer .layui-btn{ margin: 0 16px; }

#login_container .layui-form .layui-input::-webkit-input-placeholder {  color:#eee;  }
#login_container .layui-form .layui-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */  color:#eee;  }
#login_container .layui-form .layui-input::-moz-placeholder { /* Mozilla Firefox 19+ */  color:#eee;  }
#login_container .layui-form .layui-input:-ms-input-placeholder { /* Internet Explorer 10+ */  color:#eee;  }

#verify_image{ width: 170px; height: 36px; }